body
{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1
{
    font-size: 50px;
}
.orange
{
    color: orange;
}
.section
{
    display: flex;
    margin-bottom: 150px;
}
.half-width
{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img
{
    width: 80%;
    
   
}
.link
{
   text-decoration: none; 
   color: white;
   background-color: red;
   padding: 10px 40px;
   border-radius: 5px;
   font-weight: 700;
}
.nazmul
{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width img
{
    width: 80%;

   

}
.half-width
{
    width: 50%;
    padding-left: 5%;
    
}
.shanta
{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.dream
{
padding-block-end: 5%;
}

.font-color
{
    color: orange;
}

h2
{
 font-size: 40px;
}
.experince area
{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.half-width-new
{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    
}